{{! Copyright(c) 1995 - 2018 T-Systems Multimedia Solutions GmbH }}
{{! Riesaer Str. 5, 01129 Dresden }}
{{! All rights reserved. }}
import { FormGroup, FormControl, FormArray, Validators, ValidatorFn } from "@angular/forms";
import { BaseFormControlFactory } from 'openapi-typescript-angular-generator';
