{{! Copyright(c) 2009 - 2019 Abelium d.o.o. }}
{{! Kajuhova 90, 1000 Ljubljana, Slovenia }}
{{! All rights reserved. }}

    export function formMetadata() {
        return  {
            metadata: formMetadata,
            classname: '{{classname}}',
            vars: [
                {{#vars}}
                {
                    {{^isPrimitiveType}}
                    {{#complexType}}
                    metadata: {{complexType}}.formMetadata,
                    {{/complexType}}
                    {{/isPrimitiveType}}
                    isReadOnly: {{isReadOnly}},
                    isEnum: {{isEnum}},
                    {{#isEnum}}
                    datatypeWithEnum: {{datatypeWithEnum}},
                    {{/isEnum}}
                    required: {{required}},
                    name: '{{name}}',
                    classname: '{{classname}}',
                    dataType: '{{dataType}}',
                    isPrimitiveType: {{isPrimitiveType}},
                    isListContainer: {{isListContainer}},
                    complexType: '{{complexType}}'
                },
                {{/vars}}
            ],
            validators: {
                {{#vars}}
                {{name}}: [
                        {{#required}}
                        ['required'],
                        {{/required}}
                        {{#hasValidation}}
                        {{#minimum}}
                        ['min', {{minimum}}],
                        {{/minimum}}
                        {{#maximum}}
                        ['max', {{maximum}}],
                        {{/maximum}}
                        {{#minLength}}
                        ['minlength', {{minLength}}],
                        {{/minLength}}
                        {{#maxLength}}
                        ['maxlength', {{maxLength}}],
                        {{/maxLength}}
                        {{#pattern}}
                        ['pattern', '{{pattern}}'],
                        {{/pattern}}
                        {{/hasValidation}}
                ],
                {{/vars}}
            }
        }
    }
